body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
  color: #00e5ff;
  margin: 20px 0;
}

#questionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#question {
  font-size: 1.5em;
  margin-bottom: 20px;
}

#buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #388e3c;
}

#stats {
  font-size: 1.2em;
}

/** Visualization **/
#chart {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
svg {
  background-color: #1e1e1e;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
circle {
  stroke: #fff;
  stroke-width: 2px;
  cursor: pointer;
  transition: transform 0.3s;
}
circle:hover {
  transform: scale(1.2);
}
